body
{
    font-family: 'Noto Sans', sans-serif;
}

html, body, #tbl_wrap
{
    height: 100%;
    width: 100%;
    padding: 10pt;
    margin: 0;
}

#td_wrap {
    vertical-align: middle;
    text-align: center;
}

input[type="text"]
{
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: #f7f7f7;
    line-height: 30px;
}

div.details
{
    /*text-align: justify; */
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    color:#4c4c4c;
}

div.queueObject
{
   padding: 8px;
}

button {
    border: none;
    background-color: #d5d5d5;
    border-radius:6px;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family: 'Noto Sans', sans-serif;
    font-size:15px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
}
button:hover {
    background-color:#7a7a7a;
    color:#f0f0f0;
}
button:active {
    box-shadow:inset 0px 0px 0px 2px #3584E4;
}

/* Popup container */
.popupContainer {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popupContainer .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.darkmode-layer, .darkmode-toggle {
    z-index: 500;
}
